<form [formGroup]="personForm" (ngSubmit)="addPerson()">
    <div>
      <label for="id">ID:</label>
      <input type="text" id="id" formControlName="id" required>
    </div>
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required>
    </div>
    <div>
      <label for="lastName">Lastname:</label>
      <input type="text" id="lastName" formControlName="lastName" required>
    </div>
    <div>
      <label for="position">Position:</label>
      <input type="text" id="position" formControlName="position" required>
    </div>
    <div>
      <label for="salary">Salary:</label>
      <input type="text" id="salary" formControlName="salary" required>
    </div>
    <button type="submit">Add Person</button>
</form>

  